<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hackday.webtoon.mappers.ThumbnailMapper">
    <insert id="addThumbnail">
        INSERT INTO webtoon.thumbnail(user_id,manuscript_id,origin_name,path,media_type)
        VALUES (#{userId},#{manuscriptId},#{origin_name},#{path},#{mediaType})
    </insert>

</mapper>